In [1]:
import pandas as pd
import numpy as np
import random

In [2]:
data = pd.read_csv("data/diamonds.csv")
# remove first column, do one-hot encoding for categorical variables. Drop first to avoid redundancy
data = pd.get_dummies(data.iloc[:,1:], columns=["cut", "color", "clarity"], prefix="dmy", drop_first=True, dtype=int)
data.head()

,carat,depth,table,price,x,y,z,dmy_Good,dmy_Ideal,dmy_Premium,...,dmy_H,dmy_I,dmy_J,dmy_IF,dmy_SI1,dmy_SI2,dmy_VS1,dmy_VS2,dmy_VVS1,dmy_VVS2
0,0.23,61.5,55.0,326,3.95,3.98,2.43,0,1,0,...,0,0,0,0,0,1,0,0,0,0
1,0.21,59.8,61.0,326,3.89,3.84,2.31,0,0,1,...,0,0,0,0,1,0,0,0,0,0
2,0.23,56.9,65.0,327,4.05,4.07,2.31,1,0,0,...,0,0,0,0,0,0,1,0,0,0
3,0.29,62.4,58.0,334,4.20,4.23,2.63,0,0,1,...,0,1,0,0,0,0,0,1,0,0
4,0.31,63.3,58.0,335,4.34,4.35,2.75,1,0,0,...,0,0,1,0,0,1,0,0,0,0

In [3]:
# split the data into train and test
data = data.sample(frac = 1, random_state=42)
train, test = data.iloc[0:int(len(data)* .8), :], data.iloc[int(len(data) * .8) + 1:, :]
x_train, y_train = np.array(train.iloc[:, train.columns != 'price']), np.array(train.iloc[:, train.columns == 'price'])
x_test, y_test = np.array(test.iloc[:, test.columns != 'price']), np.array(test.iloc[:, test.columns == 'price'])
print(x_test.shape)

(10788, 23)